{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}

    <div class="max-w-lg mx-auto">

        <!-- Upload new TCS data information/header -->
        <div class="text-center mt-24">

            <!-- Upload new TCS data information -->
            <h2 class="text-4xl tracking-tight">
                Upload data
            </h2>

            <!-- Go to the session detail -->
            <div class="mt-2">
                <span class="text-sm">
                    or go back to the
                    <a href="{% url 'subjects:session_detail_data_tcs' session.subject.code session.session_number %}"
                       class="text-indigo-500">
                        examination session
                    </a>
                </span>
            </div>
        </div>

        <!-- Upload TCS data -->
        <form method="post" class="mt-5 mb-4" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit"
                    class="w-full text-white bg-indigo-500 hover:bg-indigo-600 px-3 py-2 rounded-md mt-2">
                Upload
            </button>
        </form>

        <!-- Go back -->
        <a href="{% url 'subjects:session_detail' session.subject.code session.session_number %}"
           class="inline-flex w-full justify-center mx-auto border-0 py-2 px-3 bg-gray-100 focus:outline-none hover:bg-gray-200 rounded text-base">
            Go back
        </a>
    </div>

{% endblock content %}