{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}

    <div class="max-w-lg mx-auto">

        <!-- Delete an existing subject information/header -->
        <div class="text-center mt-24">

            <!-- Delete an existing subject information -->
            <h2 class="text-4xl tracking-tight">
                Are you sure about the delete?
            </h2>

            <!-- Go to the list of subjects -->
            <div class="mt-2">
                <span class="text-sm">
                    if not, go back to the
                    <a href="{% url 'subjects:subject_list' %}"
                       class="text-indigo-500">
                        list of subjects
                    </a>
                </span>
            </div>
        </div>

        <!-- Delete the subject -->
        <form method="post" class="mt-5 mb-10">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit"
                    class="w-full text-white bg-red-500 hover:bg-red-600 px-3 py-2 rounded-md mt-2">
                delete
            </button>
        </form>
    </div>

{% endblock content %}