{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}

    <div class="max-w-lg mx-auto">

        <!-- Update an existing subject information/header -->
        <div class="text-center mt-24">

            <!-- Update an existing subject information -->
            <h2 class="text-4xl tracking-tight">
                Update the subject
            </h2>

        </div>

        <!-- Update the subject -->
        <form method="post" class="mt-5">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit"
                    class="w-full text-white bg-indigo-500 hover:bg-indigo-600 px-3 py-2 rounded-md mt-2">
                Update
            </button>
        </form>

        <!-- Delete the subject -->
        <div class="flex text-center mt-2 mb-4">
            <a href="{% url 'subjects:subject_delete' subject.code %}"
               class="w-full text-white bg-red-500 hover:bg-red-600 px-3 py-2 rounded-md mt-2">
                Delete
            </a>
        </div>

        <!-- Go back -->
        <a href="{% url 'subjects:subject_list' %}"
           class="inline-flex w-full justify-center mx-auto text-white bg-gray-500 border-0 py-2 px-3 focus:outline-none hover:bg-gray-600 hover:text-white rounded">
            Go back
        </a>
    </div>

{% endblock content %}