{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}

    <div class="max-w-lg mx-auto">

        <!-- Upload subjects cohort information/header -->
        <div class="text-center mt-24">

            <!-- Upload subjects cohort information -->
            <h2 class="text-4xl tracking-tight">
                Upload data
            </h2>

        </div>

        <!-- Upload subjects cohort -->
        <form method="post" class="mt-5 mb-4" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit"
                    class="w-full text-white bg-indigo-500 hover:bg-indigo-600 px-3 py-2 rounded-md mt-2">
                Upload
            </button>
        </form>

        <!-- Go back -->
        <a href="{% url 'subjects:subject_list' %}"
           class="inline-flex w-full justify-center mx-auto bg-gray-100 border-0 py-2 px-3 focus:outline-none hover:bg-gray-200 rounded text-base rounded">
            Go back
        </a>
    </div>

{% endblock content %}