{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}

    <div class="max-w-lg mx-auto">

        <!-- Upload subjects cohort information/header -->
        <div class="text-center mt-24">

            <!-- Upload subjects cohort information -->
            <h2 class="text-4xl tracking-tight">
                Upload data
            </h2>

            <!-- Go to the list of subjects -->
            <div class="mt-2">
                <span class="text-sm">
                    go back to the
                    <a href="{% url 'subjects:subject_list' %}"
                       class="text-indigo-500">
                        list of subjects
                    </a>
                </span>
            </div>
        </div>

        <!-- Upload subjects cohort -->
        <form method="post" class="mt-5 mb-10" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit"
                    class="w-full text-white bg-indigo-500 hover:bg-indigo-600 px-3 py-2 rounded-md mt-2">
                Upload
            </button>
        </form>
    </div>

{% endblock content %}