<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">

        <!-- Logo and title of the system -->
        {% if request.user.is_authenticated %}
            <a href="{% url 'subjects:subject_list' %}"
               class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            </a>
        {% else %}
            <a href="{% url 'landing_page' %}"
               class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            </a>
        {% endif %}

            <!-- Logo -->
            <a href="{% url 'subjects:subject_list' %}">
                <svg fill="none"
                     stroke="currentColor"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     stroke-width="2"
                     class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                     viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
            </a>

            <!-- Title of the system -->
            <span class="ml-3 text-xl">Lewy buddy</span>

        <!-- Menu/signup navbar -->
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">

            {% if request.user.is_authenticated %}
                <div class="flex inline-flex mt-4 md:mt-0">
                    Logged in as: {{ request.user.username }}
                </div>

            {% endif %}

            <div class="flex-col flex-wrap">

                <!-- Subjects app -->
                {% if request.user.is_authenticated %}
                    <a href="{% url 'subjects:subject_list' %}"
                       class="ml-2 mr-1 flex inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
                        Home
                        <svg fill="none"
                             stroke="currentColor"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             stroke-width="2"
                             class="w-4 h-4 ml-1"
                             viewBox="0 0 24 24">
                            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </a>

                {% endif %}

                <!-- Logout -->
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}"
                       class="ml-1 flex inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
                        Logout
                        <svg fill="none"
                             stroke="currentColor"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             stroke-width="2"
                             class="w-4 h-4 ml-1"
                             viewBox="0 0 24 24">
                            <path d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                        </svg>
                    </a>

                <!-- Login -->
                {% else %}
                    <a href="{% url 'login' %}"
                       class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
                        Login
                        <svg fill="none"
                             stroke="currentColor"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             stroke-width="2"
                             class="w-4 h-4 ml-1"
                             viewBox="0 0 24 24">
                            <path d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                        </svg>
                    </a>
                {% endif %}

            </div>

        </nav>

    </div>
</header>